<% backgroundFailed="bg-red-100 border-red-200" %>
<% backgroundSuccess="bg-green-100 border-green-200" %>
<% backgroundRunning="bg-purple-100 border-purple-200" %>

<div class="container min-w-full">
    <%- include('./sanitizerModal.ejs') %>
    <%- include('./testModal.ejs') %>
    <div class="flex flex-row justify-center">
      <div class="flex basis-full">
        <h2 class="text-2xl px-5">Perfiles fuzzing creados</h2>
      </div>
    </div>
    <div>
      <table class="w-full text-center">
        <thead class="border-b border-t">
          <tr class="bg-indigo-200">
            <th scope="col" class="text-sm font-medium text-black px-6 py-4">
                Nombre
            </th>
            <th scope="col" class="text-sm font-medium text-black px-6 py-4">
                Configuraci칩n del fuzzer
            </th>
            <th scope="col" class="text-sm font-medium text-black px-6 py-4">
                Ruta del simulador
            </th>
            <th scope="col" class="text-sm font-medium text-black px-6 py-4">
                Configuraci칩n del simulador
            </th>
            <th scope="col" class="text-sm font-medium text-black px-6 py-4">
                Tiempo de ejecuci칩n
            </th>
            <th scope="col" class="text-sm font-medium text-black px-6 py-4">
                Casos de prueba predeterminados
            </th>
            <th scope="col" class="text-sm font-medium text-black px-6 py-4">
                Ejecutar prueba
            </th>
          </tr>
        </thead>
        <tbody>
          <% if (profiles.length > 0) { %>
          <% profiles.forEach(element => { %>
          <tr class="border-b">
            <td
              class="text-sm text-black font-medium px-6 py-4 whitespace-nowrap"
            >
              <%=element.name%>
            </td>
            <td
              class="text-sm text-black font-medium px-6 py-4 whitespace-nowrap"
            >
              <%=element.fuzzer%>
            </td>
            <td
              class="text-sm text-black font-medium px-6 py-4 whitespace-nowrap"
            >
            <%=element.ex_sim%>
            </td>
            <td
              class="text-sm text-black font-medium px-6 py-4 whitespace-nowrap"
            >
              <%=element.dir_sim%>
            </td>
            <td
              class="text-sm text-black font-medium px-6 py-4 whitespace-nowrap"
            >
            <%=element.exec_time%>
            </td>
            <td
              class="text-sm text-black font-medium px-6 py-4 whitespace-nowrap"
            >
            <%=element.preds_data%>
            </td>
            <td
              class="text-sm text-black font-medium px-6 py-4 whitespace-nowrap"
            >
              <form method="post" action="/profile/execute/<%=element.name%>"><button class="mx-auto justify-center my-2 bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">Ejecutar</button></a>
            </td>
          </tr>
          <% }); %>
          <% } else { %>
            <tr>
              <td colspan="9"><h3 class="text-lg font-semibold text-center my-10">AVISO: No se han encontrado perfiles creados.</h3></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% if (profiles.length > 0) { %>
      <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4 mx-5">
        <span class="text-sm font-normal text-black dark:text-black mb-4 md:mb-0 block w-full md:inline md:w-auto">Ense침ando<span class="font-semibold text-black"> - <%=initialData + 1 %></span> al <span class="font-semibold text-black"><%=initialData + profiles.length%></span></span>
        <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
          <% if (actualPage != 1){%>
            <li>
                <a href="/<%=Number(actualPage)-1%>" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-black bg-white border rounded-s-lg">Previous</a>
            </li>
            <% } %>
            <% page = 1 %>
            <% _.range(0, totalProfiles.length, 10).forEach(element => { %>
              <li>
                <a href="/<%=page%>" class="flex items-center justify-center px-3 h-8 leading-tight text-black bg-white border"><%= page %></a>
              </li>
              <% page ++; %>
            <% }); %>
            <% if (actualPage != page-1){%>
        <a href="/<%=Number(actualPage)+1%>" class="flex items-center justify-center px-3 h-8 leading-tight text-black bg-white border rounded-e-lg">Next</a>
            </li>
            <% } %>
        </ul>
    </nav>
    <% } %>
  </div>
  